/*************************************************
 PAGE BASELINES
 ************************************************/

.openPage {}

@media screen and (min-width: 768px) {
    .openPage {
        margin-top: 64px;
    }
}

.placeholder {
    height: 100px;
    width: 100%;
    background: linear-gradient(#333, #666)
}

.openPage .spectrum-Heading1--quiet,
.openPage .spectrum-Heading2--quiet {
    margin-top: 0;
}

/*************************************************
 HERO UNIT
 ************************************************/

.openPage-hero {

}

.openPage-hero-activity {
    grid-column: 1/13;
}

.openPage-hero-activity svg {
    opacity: 0.3;
}

.openPage-hero-content {
    grid-column: 1/13;
    padding: 16px;
}

.openPage-hero-content-title {
    font-size: 60px;
    font-weight: 600;
    margin: 0 0 8px 0;
}

.openPage-hero-content-subtitle {
    font-size: 15px;
    font-weight: 400;
    color: #707070;
    margin: 0 0 -8px 0;
    font-family: 'Source Code Pro', Monaco, monospace;
}

.openPage-hero-content-body {
    max-width: 75ch;
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 24px 0;
}

.openPage-hero-content-ctas > * {
    vertical-align: middle;
}

.openPage-hero-content-ghLogo {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 8px;
}

@media screen and (min-width: 768px) {

    .openPage-hero {
        margin: 32px auto;
        padding: 16px;
        padding: var(--spectrum-grid-outer-padding);
    }

    .openPage-hero-activity {
        grid-column: 1/6;
    }

    .openPage-hero-activity svg {
        opacity: 1.0;
    }

    .openPage-hero-content {
        grid-column: 7/13;
        padding-top: 90px;
    }

    .openPage-hero-content-ghLogo svg {
        width: 100%;
        height: 100%;
    }
}

/** Animate Hero Activity **/

@keyframes hideshow {
    0% { opacity: 0; }
    10% { opacity: 1; }
    20% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes waves1 {
    0% { transform: translate(-125%,-50px); }
    100% { transform: translate(125%,-50px); }
}

@keyframes waves2 {
    0% { transform: translate(-25%, 203px); }
    100% { transform: translate(125%, 203px); }
}

@keyframes waves1 {
    0% { transform: translate(-125%,-50px); }
    100% { transform: translate(125%,-50px); }
}

@keyframes triangle1 {
    0% { transform: translate(25%,0); }
    25% { transform: translate(25%,25%); }
    26% { transform: translate(25%,25%); }
    50% { transform: translate(50%,75%); }
    51% { transform: translate(50%,75%); }
    75% { transform: translate(5%,25%); }
    76% { transform: translate(5%,25%); }
    100% { transform: translate(25%,0); }
}

#Xes > * {
    opacity: 0;
    animation: hideshow 5s ease infinite;
}

#Waves1 {
    animation: waves1 15s ease infinite;
    animation-direction: alternate;
}

#Waves0 {
    animation: waves2 30s ease infinite;
    animation-direction: alternate-reverse;
}

#Triangles > * {
    animation: triangle1 60s linear infinite;
}

#Triangle0 { animation-delay: 0s; }
#Triangle1 { animation-delay: 15s; }
#Triangle2 { animation-delay: 30s; }
#Triangle3 { animation-delay: 60s; }

#X0 { animation-delay: 1s; animation-duration: 10s; }
#X1 { animation-delay: 2s }
#X2 { animation-delay: 3s }
#X3 { animation-delay: 4s }
#X4 { animation-delay: 5s }
#X5 { animation-delay: 6.3s }
#X6 { animation-delay: 7.1s }
#X7 { animation-delay: 8.5s }
#X8 { animation-delay: 4.3s; animation-duration: 5.5s; }
#X9 { animation-delay: 10s }

/*************************************************
 ORIENTATION UNIT
 ************************************************/

 .openPage-orientation {
    position: relative;
    justify-content: center;
}

.openPage-orientation-grid {}


/*************************************************
 TESTIMONIAL
 ************************************************/

.openPage-testimonial {
    grid-column: 1/13;
    padding: 16px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .openPage-testimonial {
        grid-column: 1/9;
        padding: 32px 32px 48px;
    }
}

.openPage-testimonial:before {
    font-family: 'Adobe Clean Serif', 'Source Serif Pro', Georgia, serif;
    content: '“';
    font-size: 154px;
    font-weight: 800;
    color: #D3D3D3;
    position: absolute;
    top: 0;
    left: -80px;
}

@media screen and (min-width: 768px) {
    .openPage-testimonial:before {
        /* top: auto; */
        /* bottom: 16px; */
    }
}

.openPage-testimonial-avatar {
    max-width: 92px;
    max-height: 92px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

.openPage-testimonial-quote {
    max-width: 60ch;
    margin: 0 auto;
    font-size: 21px;
    font-weight: 200;
}

.openPage-testimonial-attribution {
    font-size: 14px;
}

/*************************************************
 GETTING STARTED UNIT
 ************************************************/

.openPage-gettingStarted {
    grid-column: 1/13;
    padding: 24px;
}


@media screen and (min-width: 768px) {
    .openPage-gettingStarted {
        grid-column: 9/13;
        padding: 42px;
    }
}

/*************************************************
 PRODUCT SPOTLIGHT
 ************************************************/

.openPage-spotlight-details,
.openPage-spotlight-carousel
 {
    grid-column: 1/13;
}

@media screen and (min-width: 768px) {
    .openPage-spotlight-details {
        grid-column: 1/6;
    }
    .openPage-spotlight-carousel {
        grid-column: 7/13;
    }
}

/*************************************************
 POPULAR PROJECTS
 ************************************************/

.openPage-popularProjects-intro {
    grid-column: 1/13;
}

.openPage-popularProjects-projectContainer {
    grid-column: 1/13;
}

@media screen and (min-width: 768px) {
    .openPage-popularProjects-projectContainer {
        grid-column-start: auto;
        grid-column-end: span 3;
    }
}

/*************************************************
 STANDARDS UNIT
 ************************************************/

.openPage-standards-intro {
    grid-column: 1/13;
}


@media screen and (min-width: 768px) {
    .openPage-standards-intro {
        grid-column: 1/4;
    }
}

.openPage-standards-formatGroup {
    grid-column: 1/13;
}

@media screen and (min-width: 768px) {
    .openPage-standards-formatGroup {
        grid-column: 4/13;
        display: flex;
    }
}

/*************************************************
 PARTNERS UNIT
 ************************************************/

.openPage-partners {
    background: #B6B6B6;
}

.openPage-partners h1 {
    grid-column: 1/13;
}

.openPage-partnerItem {
    grid-column-end: span 3;
}

/*************************************************
 BLOG UNIT
 ************************************************/

.openPage-blog {
}

.openPage-blog-heroPost {
    grid-column: 1/13;
}

.openPage-blog-otherPosts {
    grid-column: 1/13;
}

@media screen and (min-width: 768px) {

    .openPage-blog-heroPost {
        grid-column: 1/6;
    }

    .openPage-blog-otherPosts {
        grid-column: 6/13;
    }

    .openPage-blog-postAbstract {
        margin-bottom: 0;
        overflow: hidden;
    }

}